html{ 
  background-color:black;
    
}
body{
    margin: 0px;
    
   
   }
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding:10px 100px 10px 100px;
    font-size: 40px;
    border-radius: 4px;
    font-family:'Luckiest Guy', Cursive;
    

}
    h1{
        color:green;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px ; 

    }
    h2 {
        color:white;
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .fun {
        padding: 0px 70px 60px 0px;
    }

    .teleport {
        padding: 0px 0px 60px 120px;
    }
    h2 a{
        text-decoration: none;
        color:white;
        transition: 0s;
        padding-left: 60px;
        padding-right: 60px;

    }

    h2 a:hover{
        color: black;

    }
        .niccageimage {
            
        }
.baselinks {
    color:blue;
    
    font-size: 24px;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 9vw;
    padding: 60px 0px 100px 9vw;

    
}
        .baselinks > .index a{
            font-family: "Ubuntu Condensed", sans-serif;
            color: blue;
            text-decoration: none;
            transition: 0.25s;

        }

        .baselinks > .index a:hover {
            color:red;
            letter-spacing: 2px;
        }

        .baselinks > .about a{
            font-family: "Ubuntu Condensed", sans-serif;
            color: blue;
            text-decoration: none;
            transition: 0.25s;

        }

        .baselinks > .about a:hover {
            color:red;
            letter-spacing: 2px;
        }

        .baselinks > .menu a{
            font-family: "Ubuntu Condensed", sans-serif;
            color: blue;
            text-decoration: none;
            transition: 0.25s;

        }

        .baselinks > .menu a:hover {
            color:red;
            letter-spacing: 2px;
        }

        .baselinks > .contact a{
            font-family: "Ubuntu Condensed", sans-serif;
            color:blue;
            text-decoration: none;
            transition: 0.25s;

        }

        .baselinks > .contact a:hover {
        color:red;
        letter-spacing: 2px;
        }

    .heygirlpic img{
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        padding: 0px 100px 0px 0px;
        width: 100vw;
        height: 510px;
    }
.background {
    background-image: url(jungle.jpg);
    padding: 200px 0px;
    height: 500px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.centertext {
    padding: 0px 35vw;
}
.topheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color:blue;
    background-color: black;
    width: 250px;
    border-radius: 4px;
    padding: 1px 20px;
    box-shadow: inset 10px 10px 33px -4px rgba(0,0,0,0.75);

}
.bottomheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:pink;
    background-color:rgb(143, 142, 142);
    width: 250px;
    border-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
                

}
.columns {
    background-image: url(https://www.placecage.com/gif/227/200);
    height: 400px;
    background-color:0;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", Cursive;
            
}
p {
    padding: 15px 75px;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}
p:hover {
    border-bottom: 5px solid green;
}
.map {
    height: 400px;
    width: 100vw;
    padding-bottom: 100px;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    padding:100px 100px 100px 100px;
    font-size: 40px;
    border-radius: 4px;
    font-family:'Luckiest Guy', Cursive;
}
.treeicon {
    color: green;
    font-size: 100px;
    padding: 0px 120px;
}